<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514077199983-5p1j9bkhp91qntuoi329j7b9rg6nn470.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514077199983-5p1j9bkhp91qntuoi329j7b9rg6nn470</string>
	<key>API_KEY</key>
	<string>AIzaSyApWXilOM5pCSZE5nItdHX7oG-pQa5sqEY</string>
	<key>GCM_SENDER_ID</key>
	<string>514077199983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nictusfood</string>
	<key>PROJECT_ID</key>
	<string>tchep-express</string>
	<key>STORAGE_BUCKET</key>
	<string>tchep-express.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514077199983:ios:9b67a3b85096456ff1c79a</string>
</dict>
</plist>